#container {
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px
    
  padding: 10px 150px 10px 150px;
  
  border-radius: 15px;
  background-color: #C4CECD;
  
  text-align: left;
}

#content-contact
h1 {font-size: 55px;
}

#content-experience {
  font-size: 40px;
}
h1 {
   font-size:55px;
   margin-bottom:-25px;
}
h2 {
  font-size:30px;
  margin-bottom: -6px;
  {
h3 {
  font-size 24px;
  margin-bottom: -10px;
}
h4 {
  font-size: 20px;
  margin-bottom: -10px;
}
li {
  font-size: 18px;
  text-align: left;
}    
